<div class="banner">
  <h1> Bienvenue à Ma Watchlist <%= current_user.email if current_user != nil %></h1>
</div>
<div class="main-container">
  <h2>Tu peux si tu le souhaites</h2>
  <%= link_to "voir tes listes", lists_path %>
</div>
